autom4te.cache
Makefile
config.h
config.log
config.status
doc/Doxyfile
doc/Makefile
doc/doxygen-build.stamp
doc/footer_SF.html
doc/libomxil-bellagio/
doc/omxregister-bellagio.1
include/Makefile
libomxil-bellagio.pc
libomxil-bellagio.spec
libtool
m4/Makefile
src/.deps/
src/.libs/
src/Makefile
src/base/.deps/
src/base/.libs/
src/base/Makefile
src/base/libomxbase.la
src/base/*.lo
src/base/*.o
src/components/Makefile
src/components/audio_effects/.deps/
src/components/audio_effects/.libs/
src/components/audio_effects/Makefile
src/components/audio_effects/*.l[oa]
src/components/audio_effects/*.o
src/components/clocksrc/.deps/
src/components/clocksrc/.libs/
src/components/clocksrc/Makefile
src/components/clocksrc/*.l[oa]
src/components/ffmpeg/.deps/
src/components/ffmpeg/Makefile
src/components/videoscheduler/.deps/
src/components/videoscheduler/.libs/
src/components/videoscheduler/Makefile
src/components/videoscheduler/*.l[oa]
src/components/videoscheduler/*.o
src/components/clocksrc/*.l[oa]
src/components/clocksrc/*.o
src/core_extensions/.deps/
src/core_extensions/.libs/
src/core_extensions/Makefile
src/core_extensions/*.l[oa]
src/core_extensions/*.o
src/dynamic_loader/.deps/
src/dynamic_loader/.libs/
src/dynamic_loader/Makefile
src/dynamic_loader/*.l[oa]
src/dynamic_loader/*o
src/*.l[oa]
src/*.o
src/omxregister-bellagio
stamp-h1
test/Makefile
test/components/Makefile
test/components/audio_effects/.deps/
test/components/audio_effects/Makefile
test/components/common/Makefile
test/components/resource_manager/.deps/
test/components/resource_manager/Makefile
!include/android/config.h
